.message {
    border: 1px solid teal;
    border-radius: 4px;
    box-shadow: 0 0 2px teal;
    margin: 1rem 2rem;
    padding: .4rem .8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}